@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('boxicons/css/boxicons.min.css'); */
body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  :root {
    --background: 199.1 84.6% 94.9%;
    --foreground: 220.0 9.8% 23.9%;
    --card: 210.0 100.0% 96.1%;
    --card-foreground: 216.0 5.1% 38.8%;
    --popover: 210.0 33.3% 94.1%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 204.9 99.0% 41.0%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 205.6 100.0% 83.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 209.6 90.8% 82.9%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 204.9 99.0% 41.0%;
    --input: 204.9 89.1% 63.9%;
    --ring: 204.9 99.0% 41.0%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 219.3 56.9% 10.0%;
    --foreground: 210 40% 98%;
    --card: 206.7 87.1% 6.1%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 204.9 99.0% 41.0%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216.7 96.1% 20.0%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 205.7 100.0% 22.0%;
    --input: 217.2 32.6% 17.5%;
    --ring: 204.9 99.0% 41.0%;
  }
}

/* https://customizer.railly.dev/ */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
